@main {
<div class="panel panel-default">
    <div class="panel-heading">Welcome!</div>
    <div class="panel-body">
        <p>ION-Roller is a service that manages the lifecycle of web services in AWS, providing a deployment system that
            supports "immutable environments", where the new environment is set up without tearing down the old
            environment
            in the process. </p>

        <p>Traffic is then gradually migrated between the systems.</p>

        <p>See this <a href="http://www.infoq.com/articles/gilt-deploying-microservices-aws">InfoQ article</a> for more
            details on the goals and design of the system.</p>
    </div>
</div>
}