<div class="main-navbar navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="logo"><a class="ionroller" href="/">ION-Roller</a></li>
                <li><a href="https://github.com/gilt/ionroller/blob/master/README.md">Documentation</a></li>
                <li><a href="https://github.com/gilt/ionroller">GitHub</a></li>
            </ul>
        </div>
    </div>
</div>